*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Hind Siliguri', sans-serif;
}
.btn-primary{
    background-color: #FF5959;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: .4s;
}

#header{
    background: url("../images/banner/banner3.png");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;

    
}
#banner{
    width: 40%;
    text-align: center;
    margin: 0px auto;
    padding: 150px 0;
    color: rgb(12, 235, 186);
    left: 845;
    position: flex;
    
}
.banner-title{
    font-size: 60px;
    line-height: 70px;
}
.banner-desc{
    font-size: 18px;
    line-height: 25px;
    margin: 30px;
}
 